.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfplan
*.out
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.auto.tfvars
*.tfvars
.DS_Store
inventory.ini
ansible/roles/mysql_config/vars/main.yml